
#banner {
    display:flex;
    justify-content:center;
    background-image:url('../imagenes/como-escribir-web-sobre-nosotros.jpg');
    background-position:center;
    background-size:cover;
    height:600px;
}   

#banner1 {
    display:flex;
    justify-content:center;
    background-image:url('../imagenes/Contactos.jpg');
    background-position:center;
    background-size:cover;
    height:600px;
} 


#banner2 {
    display:flex;
    justify-content:center;
    background-image:url(../imagenes/Entrepreneur-in-Your-Spare-Time.webp);
    background-position:center;
    background-size:cover;
    height:400px;
}   

#map {
    height: 500px;
    width: 500px;
}
